# Ignore node_modules folders anywhere in backend and frontend
backend/node_modules/
frontend/node_modules/

# Ignore environment variables
backend/.env
frontend/.env

# Ignore React build output
frontend/build/